 
/* 

  Mozarch 

  Mozilla Firefox theme
        by Jason Anchia

  jasonantxia@gmail.com

*/

:root {
  --c1: #333333;
  --c2: rgba(39, 131, 177, 1);
  --c2a: rgba(39, 131, 177, .3);
  --fontColor: #bdbdbd;
  
  --tab-toolbar-navbar-overlap: 0px;
  --space-above-tabbar: 0px;
  --toolbarbutton-text-shadow: none;
  --panel-ui-button-background-size: 1px calc(100% - 1px);
  --panel-ui-button-background-position: 1px 0px;

  /* Chrome */
  --chrome-background-color: var(--c1);  /*Color in tabs*/
  --chrome-color: var(--fontColor);      /*Color in fonts*/
  --chrome-secondary-background-color: var(--c1); /* Color in main panel */
  
  --chrome-nav-bar-separator-color: var(--c2);  /* division line between tabs and panel*/
  --chrome-navigator-toolbox-separator-color: var(--c1); /*  division line between firefox panel and [blank] page */
  
  /*  Prev and next page buttons  */
  --chrome-nav-buttons-background: var(--c1);
  --chrome-nav-buttons-hover-background: var(--c2);
  
  /* Selection: text selected, form example, in the search bar */
  --chrome-selection-color: var(--fontColor);
  --chrome-selection-background-color: var(--c2);
 
  /* Tabs */
  --tabs-toolbar-color: #00ff00;
  --tab-background-color: var(--c2); /* when there are too much tabs, a small arrow will appear */
  
  --tab-hover-background-color: var(--c2);
  --tab-separator-color: var(--c2);
  
  --tab-selection-color: var(--fontColor);  /* Color of the TEXT of the current tab */
  --tab-selection-background-color: var(--c1);
  --tab-selection-box-shadow: 
       0  5px 0 var(--c2) inset ,
       1px  0 0 var(--c2) inset ,
       -1px  0 0 var(--c2) inset ,
       0 -1px 0 var(--c1) inset 
       /*0 -2px 0 var(--c2) inset */
    ;
  
  --pinned-tab-glow: radial-gradient(22px at center calc(100% - 2px), rgba(76,158,217,0.9) 13%, rgba(0,0,0,0.4) 16%, transparent 70%);
 
  /* Toolbar buttons */
  --toolbarbutton-hover-background: var(--c2) linear-gradient(var(--c2), var(--c2)) padding-box;
  --toolbarbutton-hover-boxshadow: none;
  --toolbarbutton-hover-bordercolor: var(--c1);
  
  --toolbarbutton-active-background: var(--c2) linear-gradient(var(--c2), var(--c2)) border-box;
  --toolbarbutton-active-boxshadow: none;
  --toolbarbutton-active-bordercolor: var(--c2);
  
  --toolbarbutton-checkedhover-backgroundcolor: #00ff00;
  --toolbarbutton-combined-boxshadow: none;
  --toolbarbutton-combined-backgroundimage: linear-gradient(#00ff00 0, #00ff00 18px);
 
  /* Identity box */
  --identity-box-chrome-color: #00ff00;
  --identity-box-chrome-background-image: linear-gradient(#5F6670 0, #5F6670 100%);
  --identity-box-verified-background-image: linear-gradient(#5F6670 0, #5F6670 100%);
  --verified-identity-box-backgroundcolor: transparent;
 
  /* Url and search bars */
  --url-and-searchbar-background-color: var(--c1);
  --url-and-searchbar-color: var(--fontColor);
  
  --urlbar-dropmarker-url: url("chrome://browser/skin/devedition/urlbar-history-dropmarker.svg");
  --urlbar-dropmarker-region: rect(0px, 11px, 14px, 0px);
  --urlbar-dropmarker-active-region: rect(0px, 22px, 14px, 11px);
  
  --urlbar-dropmarker-2x-url: url("chrome://browser/skin/devedition/urlbar-history-dropmarker.svg");
  --urlbar-dropmarker-2x-region: rect(0px, 11px, 14px, 0px);
  --urlbar-dropmarker-active-2x-region: rect(0px, 22px, 14px, 11px);
  
  --search-button-image: url("chrome://browser/skin/devedition/search.svg#search-icon-inverted");
 
  /* Menu button separator */
  --panel-ui-button-background-image: linear-gradient(to bottom, transparent, #5F6670 30%, #5F6670 70%, transparent);
}

 
/* Give some space to drag the window around while customizing
   (normal space to left and right of tabs doesn't work in this case) */
#main-window[tabsintitlebar][customizing] {
  --space-above-tabbar: 7px;
}

/* Override a box shadow for disabled back button */
#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon {
  box-shadow: none !important;
}

/* Override !important properties for hovered back button */
#main-window #back-button:hover:not([disabled="true"]) > .toolbarbutton-icon,
#main-window #forward-button:hover:not([disabled="true"]) > .toolbarbutton-icon {
  background: var(--chrome-nav-buttons-hover-background) !important;
  box-shadow: none !important;
}

box > * {
  background-color: #333;
}

richlistbox#categories {
  background-color: #333;
  border-top: 1px solid var(--c2);
}

.unknownIdentity {
  border-radius: 0;
}

panel {
  color: #fff;
}



hbox {
  border-radius: 0;
  /*
  padding: 2px;
  margin: 2px;
  */
}


#back-button {
  border-radius: 0;

}

#forward-button {
  border-radius: 0;

  
}

 
/* Override @tabCurveHalfWidth@ and @tabCurveWidth@.  XXX: Switch to a CSS variable once the perf is sorted out - bug 1088771 */
.tab-background-middle {
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
}
 
.tab-background,
.tabs-newtab-button {
  -moz-margin-end: 0;
  -moz-margin-start: 0;
}
 
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-end: 0;
  -moz-padding-start: 0;
}
 
.tab-background-start[visuallyselected=true]::after,
.tab-background-start[visuallyselected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[visuallyselected=true]::after,
.tab-background-end[visuallyselected=true]::before {
  width: 0;
}
 
.tab-background-start[visuallyselected=true]::after,
.tab-background-end[visuallyselected=true]::after {
  -moz-margin-start: 0;
}
/* End override @tabCurveHalfWidth@ and @tabCurveWidth@ */


#urlbar ::-moz-selection,
#navigator-toolbox .searchbar-textbox ::-moz-selection,
.browserContainer > findbar ::-moz-selection {
  background-color: var(--chrome-selection-background-color);
  color: var(--chrome-selection-color);
  
}
 
/* Change the base colors for the browser chrome 
*/ 

/* black bkgd colorof the tabs*/
#tabbrowser-tabs,
#TabsToolbar,
#browser-panel {
  background: var(--chrome-background-color);
  color: var(--chrome-color);
  
}
 
#navigator-toolbox::after {
  background: var(--chrome-navigator-toolbox-separator-color);
}
 
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar),
.browserContainer > findbar,
#browser-bottombox {
  background-color: var(--chrome-secondary-background-color) !important;
  color: var(--chrome-color);
  
}
 
.browserContainer > findbar {
  background-image: none;
}
 
/* Default findbar text color doesn't look good - Bug 1125677 */
.browserContainer > findbar .findbar-find-status,
.browserContainer > findbar .found-matches {
  color: inherit;
}
 
#navigator-toolbox .toolbarbutton-1,
.browserContainer > findbar .findbar-button,
#PlacesToolbar toolbarbutton.bookmark-item {
  color: var(--chrome-color);
  text-shadow: var(--toolbarbutton-text-shadow);
}
 
/* Using toolbar[brighttext] instead of important to override linux */
toolbar[brighttext] #downloads-indicator-counter {
  text-shadow: var(--toolbarbutton-text-shadow);
  color: var(--chrome-color);
}
 
#TabsToolbar {
  text-shadow: none !important;
  /* Make sure that the brighttext attribute is added */
  color: var(--chrome-color) !important; 
}
 

/* URL bar and search bar*/
/* XXX :root[devtoolstheme="dark"] is a workaround for bug 1096413 on the findbar. */
#urlbar,
#navigator-toolbox .searchbar-textbox,
:root.browserContainer > findbar .findbar-textbox {
  background-color: var(--c1) ;
  background-image: none ;
  color: #fff;
  transition: 1s;
  text-align: center;
  border-radius: 0;
  border: none;  
}

#urlbar[focused], /* URL [left] bar color/effects when its selected */
#navigator-toolbox .searchbar-textbox[focused], /* Search [right] bar color/effects when its selected */
:root.browserContainer > findbar[focused] .findbar-textbox[focused] {
  color: black;
  border: none !important;
  box-shadow: none !important;
  transition: 0.5s;
  background-color: white;
}



toolbarbutton {
  background-color: #333;
  color: #fff;
}

toolbar {
  background-color: #333;
  color: #fff;
}

#nav-header {
  background-color: #333;
  color: #fff;
}


menu {
  
}

#urlbar-container {
  
}

#urlbar-wrapper {
}

menupopup > menuitem, menupopup > menu {
  /*-moz-appearance: none; */
  color: #fff;
  background-color: var(--c1);
}

panel {
  background-color: var(--c1);
  color: #fff;
}

menupopup {
  -moz-appearance: none !important;
  border: 1px solid var(--c2);
  color: #fff;
  background-color: var(--c1);
}

menuseparator {
  -moz-appearance: none !important;
  border-top: 1px solid var(--c2);
  border-bottom: none;
}

/* 
  change color of the autocomplete /  suggestions panel 
*/
#PopupAutoCompleteRichResult {
  background-color: var(--c1);
  border: none;
  border-top: 1px solid var(--c2)
  /* height: 30rem ;*/
}


.autocomplete-richlistitem {
  color: var(--fontColor);
  -moz-box-pack: center !important;
  -moz-box-flex: 1 !important;
}

.autocomplete-richlistitem * {
  color: var(--fontColor);
}

#PopupAutoCompleteRichResult .ac-url-text, #PopupAutoCompleteRichResult .ac-action-text {
   color: var(--c2);
}


 
window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
  overflow: -moz-hidden-unscrollable;
  -moz-margin-start: 0;
}
 
/* Make the white notication box stick out less. */
#notification-popup-box {
  border-radius: 0;
  border: none;
  background: transparent;
}
 
/* Nav bar specific stuff */
#nav-bar {
  margin-top: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  box-shadow: 0 -1px var(--chrome-nav-bar-separator-color) !important; /* blue color under tabs */
  background-image: none !important;
  
}
 

.tab-background {
  /* remove the default firefox tab img */
  visibility: hidden;
}
 
/* Make the tab splitter 1px wide with a solid background. */                          
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([visuallyselected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
  background: var(--tab-separator-color);
  width: 1px;
  -moz-margin-start: 0;
  -moz-margin-end: -1px;
}
 
/* For the last tab separator, use margin-start of -1px to prevent jittering
   due to the ::after element causing the width of the tab to extend, which
   causes an overflow and makes it disappear, which removes the overflow and
   causes it to reappear, etc, etc. */
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
  -moz-margin-start: -1px;
  -moz-margin-end: 0;
}
 
.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabbrowser-arrowscrollbox > .scrollbutton-up {
  border-color: transparent;
}
 
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  margin-bottom: 0;
}
 
.tabbrowser-tab {
  /* We normally rely on other tab elements for pointer events, but this
     theme hides those so we need it set here instead */
  pointer-events: auto;
}
 
.tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]) > .tab-stack > .tab-content {
  background-image: var(--pinned-tab-glow);
  background-position: center;
  background-size: 100%;
}
 
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]):hover,
.tabbrowser-tab:hover {
  background-color: var(--tab-hover-background-color);
  transition: 0.5s;
}
 
.tabbrowser-tab[visuallyselected] {
  /* 
   Color of the currently selected tab
  */
  color: var(--tab-selection-color) !important; 
  background-color: var(--tab-selection-background-color);
  /* the blue line above the selected tab */
  box-shadow: var(--tab-selection-box-shadow);
  transition: 0.5s;
}
 

#navigator-toolbox::after {
  display: none !important;
}


#tabbrowser-tabs,
#TabsToolbar,
#browser-panel {
  transition: 2s;
}

/* Don't need space for the tab curves (66px - 30px) */
.tabs-newtab-button {
  border: none;
  background: var(--c1);
  width: 25px;

}

.tabs-newtab-button:hover {
  /* Important needed because !important is used in browser.css */
  background-color: var(--c2);
  background-image: none;
  transition: 0.5s;
}

.verifiedIdentity#identity-box, #identity-box *{
  background-color: var(--c1) !important;;
}

@-moz-document url("about:newtab") {  
  
  
  
  body {
    background: #333333;
    background-size: cover ;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background: #333333 url("https://d11xdyzr0div58.cloudfront.net/static/logos/archlinux-logo-dark-1200dpi.b42bd35d5916.png") no-repeat  left center fixed;
    width: 100%;
    height: 600px;
    background-size: 100%;
  }

  
}



